@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Toast Styles */
  --toastContainerTop: auto;
  --toastContainerRight: 8px;
  --toastContainerBottom: 8px;
  --toastContainerLeft: auto;
  --toastBoxShadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
  --toastBorderRadius: 8px;
  --toastBarHeight: 0;
  --toastPadding: 0;
  --toastMargin: 0;
  --toastMsgPadding: 0;
}

html,
body {
  @apply text-text;
  @apply font-mono;
}

button {
  @apply ring-0;
  @apply outline-none;
}

select:focus {
  @apply outline-highlight;
}

.active {
  @apply text-highlight;
  @apply border-highlight;
  @apply border-l-2;
  @apply pl-1.5;
}

.inactive {
  @apply border-container;
  @apply border-l-2;
  @apply pl-1.5;
}

#titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#titlebar button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}
